.customButton {
    background-color: #273c75;
    color: #fff;
}

.customButton:hover {
    background-color: #697db9;
    color: #fff;
}

.customText {
    color : #273c75;
}

.sidebar {
    background: #273c75;
}

.float-right {
    float: right;
}